<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-trasitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>My JSP 'filter_result.jsp' starting page</title>
   	  <link rel="stylesheet"
			href="../../../css/table.css" type="text/css">
		<link rel="stylesheet"
			href="../../../css/cwcalendar.css"
			type="text/css">
		<script type="text/javascript"
			src="../../../javascript/comm/comm.js">
	
</script>
		<script type="text/javascript"
			src="../../../javascript/comm/list.js">
	
</script>
		<script type="text/javascript"
			src="../../../javascript/calendar-ch.js">
	
</script>
		<script type="text/javascript"
			src="../../../javascript/jquery-1.7.2.js">
	
</script>
		<script type="text/javascript"
			src="../../../javascript/locate.js">
	
</script>
		<script type="text/javascript"
			src="../../../javascript/select.js">
	
</script> 
	 
	 	<script type="text/javascript">
			function toEdit(id)
			{
				document.forms[0].action = document.forms[0].action + "?operate=toEdit&id="+id;
				document.forms[0].submit();
			}
		</script>
	</head>

	<body>
	<form action="/HR_Fist/recruit/recruitAction!toCheckList" name="fm">
	<input type="hidden" name="utilBean.currPage" id="page"/>
		<table width="100%">
			<tr>
				<td>
					<font color="black">您正在做的业务是：人力资源--招聘管理--录用管理--录用审批</font>
				</td>
			</tr>
		</table>
			<table width="100%" border="1" cellpadding=0 cellspacing=1
				bordercolorlight=#848284 bordercolordark=#eeeeee
				class="TABLE_STYLE1">
				<tr class="TR_STYLE1">
					<td class="TD_STYLE1">
						姓名
					</td>
					<td class="TD_STYLE1">
						性别
					</td>
					<td class="TD_STYLE1">
						年龄
					</td>
					<td class="TD_STYLE1">
						职位类别
					</td>
					<td class="TD_STYLE1">
						职位名称
					</td>
					<td class="TD_STYLE1">
						毕业院校
					</td>
					<td class="TD_STYLE1">
						学历专业
					</td>
					<td class="TD_STYLE1">
						审批
					</td>
				</tr>
				<tr class="TR_STYLE1" th:each="eng:${engage_resumes}">
					<td class="TD_STYLE2" th:text="${eng.human_name}">
						张飒
					</td>
					<td class="TD_STYLE2" th:text="${eng.human_sex}">
						男
					</td>
					<td class="TD_STYLE2" th:text="${eng.human_age}">
						20
					</td>
					<td class="TD_STYLE2" th:text="${eng.Config_major.major_kind_name}">
						软件开发
					</td>
					<td class="TD_STYLE2" th:text="${eng.Config_major.major_name}">
						程序员
					</td>
					<td class="TD_STYLE2" th:text="${eng.human_college}">
						长沙理工
					</td>
					<td class="TD_STYLE2" th:text="${eng.human_educated_degree}">
						计算机
					</td>
						<td class="TD_STYLE2">
							<a th:href="@{'EmploymentApplication2?resumeID='+${eng.res_id}}">审批</a>
						</td>
					</tr>
					
			</table>
		<p style="text-align:center;">

			<a th:href="@{queryEmploy2(currentPage=1,pageSize=5)}" style="color:black;">首页</a>

			<a th:href="@{queryEmploy2(currentPage=${engage_resumes?.pageNum - 1},pageSize=5,countPage=${engage_resumes?.pages})}" style="color:black;">上一页</a>

			<!--						<a th:each="i : ${#numbers.sequence(1,pages?.pages)}" th:text="${i}" th:href="@{queryUserList(currentPage=${i},pageSize=5)}" style="text-underline: none;color:red">1</a>-->
			<span th:each="i:${#numbers.sequence(1,engage_resumes?.pages)} ">
							<font color="red" th:if="${engage_resumes?.pageNum == i}" th:text="${i}">1</font>
							<a th:href="@{queryUserList(currentPage=${i},pageSize=5)}" th:if="${engage_resumes?.pageNum != i}" style="color:black;" th:text="${i}">2</a>
						</span>

			<a th:href="@{queryEmploy2(currentPage=${engage_resumes?.pageNum + 1},pageSize=5,countPage=${engage_resumes?.pages})}" style="color:black;">下一页</a>

			<a th:href="@{queryEmploy2(currentPage=${engage_resumes?.pages},pageSize=5)}" style="color:black;">尾页</a>

		</p>
		</form>
		<script type="text/javascript">
		function up(currPage,row){  
		if(currPage<=0){
		document.getElementById("page").value = row;
		}else{
		document.getElementById("page").value =currPage; 
		}
		 document.fm.submit();
		}
		function down(currPage,row){ 
		if(currPage>=row){
		document.getElementById("page").value = row;
		}else{
		document.getElementById("page").value =currPage; 
		}
		 document.fm.submit();
		}
		function tj(row){
	     document.getElementById("page").value = document.getElementById("currPage").value;
	     if(document.getElementById("currPage").value>row){
	     alert("最大页数为"+row+",当前为第"+row+"页 ");
	     return false;
	     }
	     document.fm.submit();
	 	}
		</script>
	</body>
</html>

