<!DOCTYPE html>
<!--suppress ALL-->
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>添加用户</title>
		<link rel="stylesheet"
			href="../../css/table.css" type="text/css"/>
		<script type="text/javascript" src="../../javascript/jquery-1.7.2.js"></script>
		<script type="text/javascript" src="../../javascript/jquery.messager.js"></script>
		<script type="text/javascript" src="../../javascript/user_add.js"></script>
		<script type="text/javascript">
			$(function () {
				var flag = false; //未重名的情况下为false

				$.ajax("queryIdentity",{
					dataType:"json",
					success: function(data) {
						var $identity = $("#identity");

						for (let i = 0; i < data.length; i++) {
							let $option = $("<option value="+data[i].identityId+">"+data[i].identityName+"</option>")
							$identity.append($option);
						}
					}
				});
				$("#userName").blur(function(){
					var $userName = $(this).val();
					$.ajax({
						url:"verifyUserName",
						data:{userName:$userName},
						success: function(data) {
							// alert(data);
							if(data){
								alert("用户名重复,请修改用户名");
								$("input[type=submit]").attr("disabled",true);
							} else {
								$("input[type=submit]").attr("disabled",false);
							}
						},
						error: function(data) {
							console.log(data);
						}
					})
				});
			});
		</script>
	</head>
	<body>
		<form method="post" action="addUser">
			<table width="100%">
				<tr>
					<td>
						<font color="black">您正在做的业务是：人力资源--权限管理--添加用户</font>
					</td>
				</tr>
				<tr>
					<td align="right">
						<input type="submit" value="保存" class="BUTTON_STYLE1"/>
						<input type="button" value="返回" class="BUTTON_STYLE1"
							onclick="history.back()">
					</td>
				</tr>
			</table>
			<table width="100%" border="1" cellpadding=3 cellspacing=1
				bordercolorlight=#848284 bordercolordark=#eeeeee
				class="TABLE_STYLE1">
				<tr>
					<td class="TD_STYLE1">用户名称</td>
					<td class="TD_STYLE2">
						<input type="text" id="userName" name="userName"/>
					</td>
					<td class="TD_STYLE1">用户密码</td>
					<td class="TD_STYLE2">
						<input type="password" id="userPassword" name="userPassword"/>
					</td>
				</tr>
				<tr>
					<td class="TD_STYLE1">真实姓名</td>
					<td class="TD_STYLE2">
						<input type="text" id="userTrueName" name="userTrueName"/>
					</td>
					<td class="TD_STYLE1">用户身份</td>
					<td class="TD_STYLE2">
						<select name="identity.IdentityId" id="identity">
							
								<option th:remove="all">人事专员</option>
							
								<option value="2" th:remove="all">人事经理</option>
							
								<option value="3" th:remove="all">薪酬专员</option>
							
								<option value="4" th:remove="all">薪酬经理</option>
							
								<option value="5" th:remove="all">招聘专员</option>
							
								<option value="6" th:remove="all">招聘经理</option>
							
								<option value="7" th:remove="all">应聘者</option>
							
								<option value="8" th:remove="all">系统管理员</option>
							
						</select>
					</td>
				</tr>
			</table>
		</form>
	</body>
</html>
