<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qnck.dao.Config_file_first_kindDao">
    <resultMap id="ConfigfilefirstkindMap" type="com.qnck.entity.Config_file_first_kind">
    </resultMap>
</mapper>