<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qnck.dao.power.IIdentityDao">
    <resultMap id="identityMap" type="com.qnck.entity.Identity">
        <result column="identity_id" property="identityId"/>
        <result column="identity_name" property="identityName"/>
        <result column="identity_remark" property="identityRemark"/>
        <result column="identity_status" property="identityStatus"/>
    </resultMap>
    <resultMap id="identityPermissionsMap" type="com.qnck.entity.Identity">
        <result column="identity_id" property="identityId"/>
        <result column="identity_name" property="identityName"/>
        <result column="identity_remark" property="identityRemark"/>
        <result column="identity_status" property="identityStatus"/>
        <association property="firstPermissionsList" column="identity_id" select="com.qnck.dao.power.IFirst_PermissionsDao.queryById"/>
    </resultMap>
</mapper>