<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
        <setting name="cacheEnabled" value="false"/>
        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="aggressiveLazyLoading" value="false"/>
    </settings>

    <!--配置插件-->
    <plugins>
        <!--配置分页插件的拦截器-->
        <plugin interceptor="com.github.pagehelper.PageInterceptor"/>
    </plugins>

    <mappers>
        <mapper resource="mappers/UserMapper.xml"/>
        <mapper resource="mappers/IdentityMapper.xml"/>
        <mapper resource="mappers/PermissionsMapper.xml"/>
        <mapper resource="mappers/Config_majorMapper.xml"/>
        <mapper resource="mappers/Config_file_First_kindMapper.xml"/>
        <mapper resource="mappers/Config_file_second_KindMapper.xml"/>
        <mapper resource="mappers/Config_file_third_KindMapper.xml"/>
        <mapper resource="mappers/Engage_major_releaseMapper.xml"/>
        <mapper resource="mappers/First_PermissionsMapper.xml"/>
        <mapper resource="mappers/Second_PermissionsMapper.xml"/>
        <mapper resource="mappers/Third_PermissionsMapper.xml"/>
    </mappers>
</configuration>